<%= render "devise/shared/header" %>
  
    </div>
  </header>
  <p>
  </p>
<div class="input-group">
	<input type="text" class="form-control">

  
  <a class="btn btn-sm btn-outline-third" href="#">検索</a>
<a class="btn btn-sm btn-outline-third" href="/questions/new">新規投稿</a>
  </div>
<p>

<div class="col-md-4">
          <div class="card mb-4 shadow-sm">
            <h1>ki</h1>
           
              </div>
            </div>
          </div>
        </div>