<%= render "devise/shared/header" %>

<body>
  <div class=container style="padding-left: 475px;padding-top: 10px;">
  <h2>◯×問題 投稿</h2>
  <div class='form-wrapper'>
 <%= render partial: "form", locals: { question: @question } %>
<p>