<%= render "devise/shared/header" %>
  <body>
   <main class="container">
</div>

  <div class="row mb-2">
    <div class="col-md-6">
      <div class="row g-0 border rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 position-relative">
        <div class="col p-4 d-flex flex-column position-static">
        
          <h3 class="mb-0">人気のポスト</h3>
          <div class="mb-1 text-muted">11/12</div>
          <p class="card-text mb-auto">問.海岸環境が構造物に作用する厳しさは、海中＞飛沫帯＞海上大気中である。</p>
          <a href="#" class="stretched-link">続きを見る</a>
        </div>
        <div class="col-auto d-none d-lg-block">
          <svg class="bd-placeholder-img" width="200" height="300"></svg>

        </div>
      </div>
    </div>
    <div class="col-md-6">
      <div class="row g-0 border rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 position-relative">
        <div class="col p-4 d-flex flex-column position-static">
          <strong class="d-inline-block mb-2 text-primary">国際</strong>
          <h3 class="mb-0">人気のポスト</h3>
          <div class="mb-1 text-muted">11/12</div>
          <p class="card-text mb-auto">これは写真の解説文付きのカードです。自然に説明を加えることができます。</p>
          <a href="#" class="stretched-link">続きを見る</a>
        </div>
        <div class="col-auto d-none d-lg-block">
          <svg class="bd-placeholder-img" width="200" height="300"><title>Placeholder</title></svg>
</div>
      </div>
    </div>
  </div>
    </div>
<div class="row mb-2">
    <div class="col-md-6">
      <div class="row g-0 border rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 position-relative">
        <div class="col p-4 d-flex flex-column position-static">
          <strong class="d-inline-block mb-2 text-primary">国際</strong>
          <h3 class="mb-0">人気のポスト</h3>
          <div class="mb-1 text-muted">11/12</div>
          <p class="card-text mb-auto">これは写真の解説文付きのカードです。自然に説明を加えることができます。</p>
          <a href="#" class="stretched-link">続きを見る</a>
        </div>
        <div class="col-auto d-none d-lg-block">
          <svg class="bd-placeholder-img" width="200" height="300"></svg>
        </div>
      </div>
    </div>
    <div class="col-md-6">
      <div class="row g-0 border rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 position-relative">
        <div class="col p-4 d-flex flex-column position-static">
          <strong class="d-inline-block mb-2 text-primary">国際</strong>
          <h3 class="mb-0">人気のポスト</h3>
          <div class="mb-1 text-muted">11/12</div>
          <p class="card-text mb-auto">これは写真の解説文付きのカードです。自然に説明を加えることができます。</p>
          <a href="#" class="stretched-link">続きを見る</a>
        </div>
        <div class="col-auto d-none d-lg-block">
          <svg class="bd-placeholder-img" width="200" height="300"><title>Placeholder</title></svg>
 </div>
      </div>
    </div>
  </div>
    </div>
    
   <footer class="container">
   
    <p>&copy; 2021 Company, Inc. 
     </body>
</html>