<%= render "devise/shared/header" %>
  <div class="container1">
   <%= image_tag "low-angle-view-of-modern-skyscrapers-under-the-sunlight-and-a-blue-sky-at-daytime.jpg",height:"550px" %>
   <p>FRESHとは</p>
   <p1><p1>

   
   </div>