<!DOCTYPE html>
<div class="container">
  <header class="blog-header py-3">
    <div class="row flex-nowrap justify-content-between align-items-center">
      <div class="col-4 text-center">
        <a class="blog-header-logo text-dark" href="/">試験方法</a>
      </div>
  
    </div>
  </header>
  <p>
  </p>
<div class="input-group">
	<input type="text" class="form-control">
  <a class="btn btn-sm btn-outline-third" href="#">検索</a>
<a class="btn btn-sm btn-outline-third" href="/ways/new">新規投稿</a>
  </div>
<p>

<% @way.each do |way| %>
<div class="col-md-4">
          <ul class="card mb-4 shadow-sm">
           
            <%= way.name %>
        
            
            <div class="card mb-4 shadow-sm1">
             <%= way.text %>

           <% if way.image.attached? %>
            <%= link_to image_tag(way.image.variant(resize: '320x320'),class:"card-img-top"),way_path(way.id) %>
          　<% end %>
<div class="d-flex justify-content-between align-items-center">
</div>
                <small class="text-muted">9 mins</small>
<% end %>
              
              
           