<%= render "devise/shared/header" %>
<body>
  <div class=container style="padding-left: 475px;padding-top: 10px;" style="padding-left: 475px;padding-top: 10px;">
  <h2>試験方法投稿</h2>
  <div class='form-wrapper'>
  

  <%= render partial: "form", locals: { way: @way } %>
  
  <p></p>
  </form>
  </div>
</body>