<%= render "devise/shared/header" %>
<div class="input-group">
	<input type="text" class="form-control">
  <a class="btn btn-sm btn-outline-third" href="#">検索</a>
<a class="btn btn-sm btn-outline-third" href="/ways/new">新規投稿</a>
  </div>
<p>


<div class="col">
      <div class="card shadow-sm">
           <% @word.each do |word| %>

<span style="font-size:30px; color:black; font-weight:bold;">あ行</span>

 <p>
<div class="card-text">
            <%= '・' %><%= link_to word.word,word_path(word.id) %>
<% end %>
      