<%= render "devise/shared/header" %>
  <div class=container style="padding-left: 475px;padding-top: 10px;">
    <h2>建築用語 新規投稿</h2>
    <div class='form-wrapper'>
      <%= render partial: "form", locals: { word: @word } %>